.vscode
.project
.settings

uranus.core/.project
uranus.core/target
uranus.core/.classpath

uranus.data/.project
uranus.data/target
uranus.data/.classpath

uranus.security/.project
uranus.security/target
uranus.security/.classpath

uranus.services/.project
uranus.services/target
uranus.services/.classpath

uranus.services/uranus.membership/.project
uranus.services/uranus.membership/target
uranus.services/uranus.membership/.classpath

uranus.site/.project
uranus.site/target
uranus.site/.classpath

uranus.utils/.project
uranus.utils/target
uranus.utils/.classpath

uranus.web/.project
uranus.web/target
uranus.web/.classpath

uranus.configuration/.project
uranus.configuration/target
uranus.configuration/.classpath

uranus.test/.project
uranus.test/target
uranus.test/.classpath

*.log
