<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="membership.auth_users_in_roles">

  <resultMap id="authUserIdAndRoleIdMap" type="authUserIdAndRoleId">
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_name" property="username" jdbcType="VARCHAR" />
    <result column="role_id" property="roleId" jdbcType="VARCHAR" />
      <result column="role_name" property="roleName" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="authRoleMap" type="authRole">
    <id column="role_id" property="roleId" jdbcType="VARCHAR" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>

  <insert id="insert" parameterType="authUserIdAndRoleId">
    INSERT INTO auth_users_in_roles(user_id, role_id)
      VALUES (
        #{userId},
        #{roleId}
      )
  </insert>

  <delete id="deleteByUserId" parameterType="java.lang.String">
      DELETE FROM auth_users_in_roles
        WHERE user_id = #{userId}
    </delete>

  <select id="selectByUserId" parameterType="java.util.Map" resultMap="authRoleMap">
    SELECT 
        r.role_id, r.role_name, r.description, r.status
      FROM auth_users_in_roles t
      INNER JOIN auth_role r ON t.role_id = r.role_id AND r.status = 1
      WHERE t.user_id = #{userId}
  </select>

  <select id="selectByUsers" parameterType="java.util.Map" resultMap="authUserIdAndRoleIdMap">
    SELECT
        t.user_id, t.role_id, r.role_name
      FROM auth_users_in_roles t
      INNER JOIN auth_role r ON t.role_id = r.role_id
        <trim prefix="and">
          <if test="status != null">
              r.status = #{status, jdbcType=INTEGER}
          </if>
        </trim>
      WHERE t.user_id IN
        <foreach collection="users" item="userId" index="index" open="(" separator="," close=")">
          #{userId}
        </foreach>
  </select>

  <select id="selectByRoles" parameterType="java.util.Map" resultMap="authUserIdAndRoleIdMap">
      SELECT
          t.role_id, t.user_id, u.user_name
        FROM auth_users_in_roles t
        INNER JOIN auth_user u ON t.user_id = u.user_id
          <trim prefix="and">
            <if test="status != null">
                u.status = #{status, jdbcType=INTEGER}
            </if>
          </trim>
        WHERE t.role_id IN
          <foreach collection="roles" item="roleId" index="index" open="(" separator="," close=")">
            #{roleId}
          </foreach>
    </select>

</mapper>