<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="membership.auth_role">

  <resultMap id="authRoleMap" type="authRole">
    <id column="role_id" property="roleId" jdbcType="VARCHAR" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>

  <insert id="insert" parameterType="authRole">
    INSERT INTO auth_role(role_id, role_name, description, status)
      VALUES (
        #{roleId}::uuid,
        #{roleName, jdbcType=VARCHAR},
        #{description, jdbcType=VARCHAR},
        #{status, jdbcType=INTEGER}
      )
  </insert>

  <update id="update" parameterType="authRole">
    UPDATE auth_role
      <trim prefix="set" suffixOverrides=",">
        <if test="roleName != null and roleName != ''">role_name = #{roleName, jdbcType=VARCHAR},</if>
        <if test="description != null">description = #{description, jdbcType=VARCHAR},</if>
        <if test="status != null">status = #{status, jdbcType=INTEGER}</if>
      </trim>
      WHERE role_id = #{roleId}::uuid
  </update>

  <delete id="delete" parameterType="java.lang.String">
    DELETE FROM auth_role
      WHERE role_id = #{roleId}:uuid
  </delete>

  <delete id="deleteByRoleName" parameterType="java.lang.String">
    DELETE FROM auth_role
      WHERE role_name = #{roleName, jdbcType=VARCHAR}
  </delete>

  <select id="select" parameterType="java.util.Map" resultMap="authRoleMap">
    SELECT 
        role_id, role_name, description, status 
      FROM auth_role
      <trim prefix="where" suffixOverrides="and">
        <if test="status != null">
          status = #{status, jdbcType=INTEGER} and
        </if>
        <if test="roleName">
          role_name LIKE concat(concat('%', #{roleName}), '%')
        </if>
      </trim>
      ORDER BY role_name
  </select>

</mapper>