<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="membership.auth_user">

  <resultMap id="authUserMap" type="authUser">
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="cell_phone" property="cellPhone" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <insert id="insert" parameterType="authUser">
    INSERT INTO auth_user(user_id, user_name, nick_name, cell_phone, status, create_time)
      VALUES (
        #{userId}::uuid,
        #{userName, jdbcType=VARCHAR},
        #{nickName, jdbcType=VARCHAR},
        #{cellPhone, jdbcType=VARCHAR},
        #{status, jdbcType=INTEGER},
        #{createTime, jdbcType=TIMESTAMP}
      )
  </insert>

  <update id="update" parameterType="authUser">
      UPDATE auth_user
        <trim prefix="set" suffixOverrides=",">
          <if test="nickName != null">nick_name = #{nickName, jdbcType=VARCHAR},</if>
          <if test="cellPhone != null">cell_phone = #{cellPhone, jdbcType=VARCHAR},</if>
          <if test="status != null">status = #{status, jdbcType=INTEGER}</if>
        </trim>
        WHERE user_id = #{userId}::uuid
    </update>
  
    <delete id="delete" parameterType="java.lang.String">
      DELETE FROM auth_user
        WHERE user_id = #{userId}:uuid
    </delete>

    <delete id="deleteByUserName" parameterType="java.lang.String">
        DELETE FROM auth_user
          WHERE user_name = #{userName, jdbcType=VARCHAR}
      </delete>

  <select id="getByUserName" parameterType="java.lang.String" resultMap="authUserMap">
    SELECT 
        user_id, user_name, nick_name, cell_phone, status, create_time 
      FROM auth_user 
      WHERE user_name = #{userName, jdbcType=VARCHAR}
  </select>

  <select id="select" parameterType="java.util.Map" resultMap="authUserMap">
    SELECT 
        user_id, user_name, nick_name, cell_phone, status, create_time
      FROM auth_user
      <trim prefix="where" suffixOverrides="and">
        <if test="status != null">
          status = #{status, jdbcType=INTEGER} and
        </if>
        <if test="userName">
          user_name LIKE concat(concat('%', #{userName}), '%')
        </if>
      </trim>
      ORDER BY user_name
  </select>

</mapper>