<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="layout_head(title)">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <title>oops - [[${statusCode}]]</title>

</head>
<body th:fragment="layout_body(content)">
<div class="bs-example">
    <h4>异常</h4>
    <br>
    <div class="main" th:replace="${content}"></div>
</div>
</body>
</html>