<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="layout_head(title,links,styles)">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width"/>
    <!--/*
        default header name is X-CSRF-TOKEN 
        $(function () {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function(e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });
        });
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    */-->
    <title>
        <th:block th:replace="${title}">THE VIEW</th:block>
    </title>

    <!-- Common styles -->
    <link type="text/css" rel="stylesheet" th:href="@{/style/theme/light/site-light.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/style/theme/light/metro-light.all.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/style/theme/viewpage/viewpage.all.css}" />
    <link id="highlight" type="text/css" rel="stylesheet" th:href="@{/style/theme/color/ui.metro.SeaBlue.css}" />
	<link type="text/css" rel="stylesheet" th:href="@{/content/font-awesome/font-awesome.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/style/custom.css}" />

    <th:block th:insert="${links}" />
    <th:block th:insert="${styles}" />

</head>
<body th:fragment="layout_body(contains, scripts)">
    <header id="head" class="head-color clear">
        <h1 class="head-system-title" style="width:350px">
            <a class="ui-home-button" href="javascript:void(0)"></a><span class="head-system-title-text">电商管理平台</span>
        </h1>
        <ul id="headerCtrls" class="head-ctrl-buttons">
            <li class="head-ctrl-buttons-item">
                <div id="user" class="user-color title-color" title="username">
                    <img src="../../content/images/protrait.png" class="cover" />
                </div>
            </li>
        </ul>
        <div id="loadingElement" class="c_flyingDots c_loadingDots" style="bottom:0;left:0;position:absolute;display:none;width:100%;">
            <div class="c_loadingTracks">
                <div class="c_loadingTracks c_loadingTrack1">
                    <div class="c_loadingDot"></div>
                </div>
                <div class="c_loadingTracks c_loadingTrack2">
                    <div class="c_loadingDot"></div>
                </div>
                <div class="c_loadingTracks c_loadingTrack3">
                    <div class="c_loadingDot"></div>
                </div>
                <div class="c_loadingTracks c_loadingTrack4">
                    <div class="c_loadingDot"></div>
                </div>
                <div class="c_loadingTracks c_loadingTrack5">
                    <div class="c_loadingDot"></div>
                </div>
            </div>
        </div>
    </header>
    <section id="body" style="visibility:hidden">
        <div class="ui-menu-panel"></div>
        <div class="content-container" th:replace="${contains}"></div>
    </section>
    <div class="page-progress large circles" style="display:block;">
        <span class="circle"></span>
        <span class="circle"></span>
        <span class="circle"></span>
        <span class="circle"></span>
        <span class="circle"></span>
        <span class="circle"></span>
    </div>

    <script th:src="@{/script/soon-ui/SOON.UI.3.5.0.all.js}"></script>
    <script th:src="@{/script/soon-ui/ajax-extend.js}"></script>
    <script th:src="@{/script/data/highlights.js}"></script>

    <script th:inline="javascript">
        window.jQuery = window.$ = ui.$;
        ui.page.init({
            master: function() {
                this.loaded(function() {
                    $(".page-progress").css("display", "none");
                    this.body.css({
                        "visibility": "visible",
                        "opacity": 0
                    });
                    ui.animator.fadeIn(this.body, 500);

                    ui.ajax.global.start(function() {
                        ui.loadingShow();
                    });
                    ui.ajax.global.stop(function() {
                        ui.loadingHide();
                    });
                });
            },
            menu: true,
            userPanel: function() {
                return {
                    changeHighlightUrl: function(highlight) {
                        ui.theme.setHighlight(
                            highlight, ui.str.format("/style/theme/color/ui.metro.{0}.css", highlight.Id));
                    },
                    name: [[${userName}]],
                    department: "IT部门",
                    position: [[${roleName}]],
                    operateList: [
                        { text: "个性化", handler: "/account/personalize" },
                        { text: "修改密码", handler: "/account/change-password" },
                        { text: "退出", handler: "/logout" }
                    ]
                };
            },
            error: function(e) {
                console.error(e);
            }
        });
        // 加载菜单数据
        ui.page.ready(function() {
            if(!ui.page.hasMenu()) {
                return;
            }
            ui.ajax.postJson(
                "/account/menus",
                function(data) {
                    var menus,
                        resourceCode,
                        parentCode;

                    resourceCode = ui.url.getLocationParam("_m");
                    resourceCode = ui.str.base64Decode(resourceCode);
                    
                    data.forEach(function(i) {
                        i.resourceName = i.name;
                        if(i.resourceCode === resourceCode) {
                            parentCode = i.parentResourceCode;
                        }
                    });
                    if(!resourceCode) {
                        resourceCode = data[0].resourceCode;
                        parentCode = data[0].parentResourceCode;
                    }

                    menus = ui.trans.listToTree(data, "parentResourceCode", "resourceCode", "children");
                    ui.page.menu.setMenuList(menus, resourceCode, parentCode);
                },
                function(e) {
                    ui.errorShow("加载用户菜单发生错误。");
                });
        });
    </script>
    <script type="text/javascript" th:replace="${scripts}"></script>

</body>
</html>