<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="shared/layout::layout_head(~{::title/text()},~{::links},~{::styles})">
    <meta charset="UTF-8">
    <title>修改密码</title>
    
    <th:block th:fragment="links">
    </th:block>

    <th:block th:fragment="styles">
    <style type="text/css">
        .password-panel,
        .success-panel,
        .failed-panel {
            padding: 0 16px;
            overflow: hidden;
        }

        .password-title {
            width: 100%;
            height: 48px;
            line-height: 48px;
        }

        .password-title-hr {
            width: auto;
            position: absolute;
            left: 1rem;
            right: 1rem;
        }

        .password-form-panel {
            width: 242px;
            margin: 2rem auto;
        }

        .password-form-panel label {
            line-height: 32px;
        }

        .password-form-panel input[type=password] {
            height: 30px;
            line-height: 30px;
            width: 240px;
        }

        .password-buttons {
            width: 100%;
            margin-top: 2rem;
            text-align: center;
        }

        .password-buttons .button {
            height: 32px;
            width: 110px;
        }

        .success-box {
            border-color: #69C56B !important;
        }

        .success-box .title-text {
            color: #69C56B !important;
        }

        .success-box .ui-dialog-box-spline {
            background-color: #69C56B !important;
        }

        .success-panel {
            color: #69C56B;
        }

        .failed-box {
            border-color: #ff3333 !important;
        }

        .failed-box .title-text {
            color: #ff3333 !important;
        }

        .failed-box .ui-dialog-box-spline {
            background-color: #ff3333 !important;
        }

        .failed-panel {
            color: #ff3333;
        }

        .description-text {
            font-size: 1.231em;
            line-height: 2;
        }
    </style>
    </th:block>
</head>

<body th:replace="shared/layout::layout_body(~{::#contains},~{::script})">
    <div id="contains" class="content-container" style="visibility: hidden;">
        <section class="password-panel">
            <div class="password-form-panel">
                <form id="passwordForm">
                    <label>原密码：</label>
                    <br />
                    <input id="originalPassword" name="originalPassword" type="password" />
                    <br />
                    <label>新密码：</label>
                    <br />
                    <input id="newPassword" name="newPassword" type="password" />
                    <br />
                    <label>再次输入：</label>
                    <br />
                    <input id="confirmPassword" name="confirmPassword" type="password" />
                    <br />
                    <div class="password-buttons">
                        <button id="changePassword" class="button background-highlight" style="margin-right:10px;" onclick="javascript:return false">确认修改</button>
                        <button class="button" type="reset">重新输入</button>
                    </div>
                </form>
            </div>
        </section>
        <section class="success-panel">
            <span class="description-text">已成功更新了您的密码，请牢记，且不要将其透露给他人。</span>
            <br />
            <span class="description-text">接下来，您可以:</span>
            <br />
            <span class="description-text">
                <a href="/" style="margin-left:16px;"> &gt; 返回首页</a>
                <br />
                <a href="/logout" style="margin-left:16px;"> &gt; 重新登录</a>
            </span>
        </section>
        <section class="failed-panel">
            <span class="description-text">由于下列原因，我们无法为您更新密码。</span>
            <br />
            <span id="failedMessage" class="description-text"></span>
            <br />
            <br />
            <span class="description-text">
                <a id="backToChangePassword" href="javascript:"> &lt; 返回重试</a>
            </span>
        </section>
    </div>

    <script>
        ;(function(ui) {
            ui.page.init({
                menu: false,
                homeButton: function(button) {
                    button
                        .prop("href", "/")
                        .css({
                            "line-height": "48px",
                            "text-align": "center"
                        })
                        .append("<i class='far fa-angle-left' style='font-size:24px;color:#fff;' />");
                },
                created: function() {
                    this.container = $("#contains");
                    this.passwordDialog = createPasswordDialog(this.container);
                    this.successDialog = createSuccessDialog(this.container);
                    this.failedDialog = createFailedDialog(this.container);

                    animationManager.init();
                },
                layout: function() {
                    var parentWidth = this.contentBodyWidth,
                        parentHeight = this.contentBodyHeight,
                        width = parentWidth * .6,
                        height = parentHeight * .7;
                    this.passwordDialog.setSize(width, height, parentWidth, parentHeight);
                    this.successDialog.setSize(
                        this.successDialog.offsetWidth, 
                        this.successDialog.offsetHeight, 
                        parentWidth, parentHeight);
                    this.failedDialog.setSize(
                        this.failedDialog.offsetWidth, 
                        this.failedDialog.offsetHeight, 
                        parentWidth, parentHeight);
                },
                load: function() {
                    this.container.css("visibility", "visible");
                    this.passwordDialog.show();
                }
            });

            function createPasswordDialog(parent) {
                var dialog = ui.ctrls.DialogBox({
                    title: "修改密码",
                    show: "fadein",
                    hide: "fadeout",
                    done: "fadeout",
                    parent: parent,
                    maskable: false,
                    suitable: false,
                    draggable: false,
                    resizeable: false,
                    boxCtrls: false
                }, $(".password-panel"));

                $("#changePassword").click(function(e) {
                    changePassword();
                });

                return dialog;
            }

            function createSuccessDialog(parent) {
                var dialog = ui.ctrls.DialogBox({
                    title: "修改成功",
                    show: "fadein",
                    hide: "fadeout",
                    done: "fadeout",
                    width: 480,
                    height: 300,
                    parent: parent,
                    maskable: false,
                    suitable: false,
                    draggable: false,
                    resizeable: false,
                    boxCtrls: false
                }, $(".success-panel"));

                dialog.box.addClass("success-box");
                return dialog;
            }

            function createFailedDialog(parent) {
                var dialog = ui.ctrls.DialogBox({
                    title: "修改失败",
                    show: "fadein",
                    hide: "fadeout",
                    done: "fadeout",
                    width: 480,
                    height: 300,
                    parent: parent,
                    maskable: false,
                    suitable: false,
                    draggable: false,
                    resizeable: false,
                    boxCtrls: false
                }, $(".failed-panel"));

                dialog.box.addClass("failed-box");

                dialog.setErrorMessage = function(message) {
                    $("#failedMessage").text(message);
                }

                $("#backToChangePassword").click((function(e) {
                    animationManager.transformPrev(ui.page.passwordDialog);
                }).bind(this));

                return dialog;
            }

            var animationManager = {
                init: function() {
                    this.animator = this.createSwitchAnimator();
                    this.current = ui.page.passwordDialog;
                },
                createSwitchAnimator: function() {
                    var setRotateFn,
                        perspective,
                        animator;
                    
                    perspective = this.width * 2;
                    setRotateFn = function(perspective, degVal) {
                        var cssObj = {},
                            prefix = ["-ms-", "-moz-", "-webkit-", "-o-", ""],
                            rotateValue = "perspective(" + perspective + "px) rotateY(" + degVal + "deg)";
                        prefix.forEach(function(p) {
                            cssObj[p + "transform"] = rotateValue;
                        });
                        return cssObj;
                    };
                    animator = ui.animator({
                        ease: ui.AnimationStyle.easeFrom,
                        duration: 500,
                        onChange: function(val) {
                            this.target.css(setRotateFn(this.perspective, val));
                        }
                    }).add({
                        ease: ui.AnimationStyle.easeTo,
                        duration: 500,
                        onChange: function(val) {
                            var css = setRotateFn(this.perspective, val);
                            css["display"] = "block";
                            this.target.css(css);
                        }
                    });
                    animator.onEnd = function() {
                        this[0].target.css("display", "none");
                    };

                    return animator;
                },
                transformNext: function(next) {
                    var option;

                    if(!next) {
                        return;
                    }

                    if(this.animator.isStarted) {
                        return;
                    }

                    option = this.animator[0];
                    option.delay = 0;
                    option.target = this.current.box;
                    option.begin = 0;
                    option.end = -90;
                    option.perspective = this.current.offsetHeight * 2;
                    
                    option = this.animator[1];
                    option.delay = 500;
                    option.target = next.box;
                    option.begin = 90;
                    option.end = 0;
                    option.perspective = next.offsetHeight * 2;

                    this.animator.start().then((function() {
                        this.current = next;
                    }).bind(this));
                },
                transformPrev: function(next) {
                    var option;

                    if(this.animator.isStarted) {
                        return;
                    }

                    option = this.animator[0];
                    option.delay = 0;
                    option.target = this.current.box;
                    option.begin = 0;
                    option.end = 90;
                    option.perspective = this.current.offsetHeight * 2;

                    option = this.animator[1];
                    option.delay = 500;
                    option.target = next.box;
                    option.begin = -90;
                    option.end = 0;
                    option.perspective = next.offsetHeight * 2;

                    this.animator.start().then((function() {
                        this.current = next;
                    }).bind(this));
                }
            }

            function changePassword() {
                var successDialog = ui.page.successDialog,
                    failedDialog = ui.page.failedDialog;

                ui.ajax.post(
                    "/account/password-changing",
                    {
                        originalPassword: $("#originalPassword").val(),
                        newPassword: $("#newPassword").val()
                    },
                    function(result) {
                        animationManager.transformNext(successDialog);
                    },
                    function(e) {
                        failedDialog.setErrorMessage(e.message);
                        animationManager.transformNext(failedDialog);
                    },
                    {
                        timeout: 0
                    }
                );
                
            }

        })(window.ui);
    </script>
</body>
</html>