<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Common styles -->
    <link type="text/css" rel="stylesheet" th:href="@{/style/theme/dark/site-dark.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/style/theme/dark/metro-dark.all.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/style/theme/color/ui.metro.SeaBlue.css}" />

    <style type="text/css">
        #loginWindow {
            position: absolute;
            background-color: #9eacb3;
            border: 1px solid #D0D9DD;
        }

        #loginWindow .bgImage {
            position: absolute;
        }

        #loginWindow #dynamicBG {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
        }

        #loginWindow .image-name {
            position: absolute;
            font-size: 1.25em;
            width: 100%;
            bottom: 0;
            left: 0;
            height: 40px;
            line-height: 40px;
            text-align: right;
            background-image: url(/content/images/login-text-shadow.png);
            background-repeat: repeat-x;
        }

        #loginWindow .logo {
            position: absolute;
            width: 100%;
            height: 64px;
            line-height: 46px;
            margin: 0;
            padding: 0;
            text-align: center;
            font-size: 3.2em;
            font-weight: bold;
            color: #fff;
        }

        .login-panel {
            position: relative;
            height: 100%;
            width: 100%;
            top: 0px;
            margin-top: 0px;
            margin-left: auto;
            margin-right: auto;
            overflow: hidden;
        }

        .panel-background {
            position: absolute;
            width: 100%;
            top: 0px;
            bottom: 0px;
            background-color: #000000;
            filter: Alpha(opacity=0);
            opacity: 0;
        }

        .panel-content {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .form-content {
            position: absolute;
            bottom: 65px;
            width: 200px;
            left: 50%;
            margin-left: -100px;
        }

        .form-content label {
            line-height: 30px;
        }

        .button-panel {
            width: 100%;
            margin-top: 30px;
        }

        input[type='text'], 
        input[type='password'] {
            width: 198px;
            border: none 0px;
            height: 26px;
            line-height: 26px;
            color: #333333;
            background-color: #BFBFBF;
            filter: Alpha(opacity=60);
            opacity: .6;
        }

        input[type='text']:hover,
        input[type='text']:focus,
        input[type='password']:hover,
        input[type='password']:focus {
            background-color: #E6E5E5;
            color: #000000;
            text-decoration: none;
            filter: Alpha(opacity=100);
            opacity: 1;
        }

        .button {
            width: 100%;
            height: 26px;
            line-height: 26px;
        }
    </style>
</head>
<body>
    <div id="loginWindow" style="visibility: hidden;">
        <img class="bgImage" src="/content/images/login.jpg" alt="uranus" />
        <div class="login-panel">
            <div class="panel-background"></div>
            <div class="panel-content">
                <h1 class="logo">URANUS</h1>
                <div class="form-content">
                    <form th:action="@{/login}" method="POST">
                        <label>用户名:</label>
                        <br />
                        <input class="input-text" type="text" id="username" name="username" tabindex="1" value="admin" />
                        <br />
                        <label>密码:</label>
                        <br />
                        <input class="input-text" type="password" id="password" name="password" tabindex="2" value="1" />
                        <br />
                        <div class="button-panel">
                            <input class="button background-highlight" type="submit" value="登录" tabindex="3" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="image-name">
            <span style="margin-right:10px">Uranus by SoonSoft</span>
        </div>
    </div>

    <script th:src="@{/script/vender/jquery-3.4.0.min.js}"></script>
    <script th:src="@{/script/soon-ui/SOON.UI.3.0.0.all.js}"></script>
    <script type="text/javascript">
        ; (function () {
            var parallax = function(view, image, width, height) {
                this.imageScale = 1.1;
                this.view = view;
                this.image = image;
                this.enabled = true;

                if(ui.core.type(width) === "number") {
                    this.width = width;
                } else {
                    this.width = this.view.width();
                }
                if(ui.core.type(height) === "number") {
                    this.height = height;
                } else {
                    this.height = this.view.height();
                }
                this.initial();
            };
            parallax.prototype = {
                initial: function() {
                    var that = this;
                    this.view.css({
                        "position": "relative",
                        "overflow": "hidden"
                    });
                    this.image.css("position", "absolute");
                    this._initialImageAnimator();
                    this.view.mouseenter(function (e) {
                        if (that.enabled) {
                            that.changeImageLocation(e.clientX, e.clientY, true);
                        }
                    });
                    this.view.mousemove(function (e) {
                        if (that.enabled) {
                            that.changeImageLocation(e.clientX, e.clientY);
                        }
                    });
                    this.view.mouseleave(function (e) {
                        if (that.enabled) {
                            that.stopImageLocation();
                        }
                    });
                },
                _initialImageAnimator: function() {
                    var that = this;
                    this.imageAnimator = ui.animator({
                        target: this.image,
                        ease: ui.AnimationStyle.easeFromTo,
                        onChange: function(val) {
                            this.target.css("top", val + "px");
                        }
                    }).add({
                        target: this.image,
                        ease: ui.AnimationStyle.easeFromTo,
                        onChange: function(val) {
                            this.target.css("left", val + "px");
                        }
                    });
                    this.imageAnimator.onEnd = function() {
                        that.beginAnimation = false;
                    };
                    this.imageAnimator.duration = 200;
                },
                resize: function(width, height) {
                    this.width = width;
                    this.height = height;
                    this.resetImageLocation();
                },
                resetImageLocation: function() {
                    this.imageWidth = this.width * this.imageScale;
                    this.imageHeight = this.height * this.imageScale;
                    this.imageMoveWidth = this.imageWidth - this.width;
                    this.imageMoveHeight = this.imageHeight - this.height;

                    this.image.css({
                        "width": this.imageWidth + "px",
                        "height": this.imageHeight + "px",
                        "top": -(this.imageMoveHeight / 2) + "px",
                        "left": -(this.imageMoveWidth / 2) + "px"
                    });
                },
                changeImageLocation: function(x, y) {
                    if(this.beginAnimation) {
                        return;
                    }
                    var p = this.view.offset(),
                        option;
                    x -= p.left + 1;
                    y -= p.top + 1;
                    var currentLeft = parseFloat(this.image.css("left")),
                        currentTop = parseFloat(this.image.css("top")),
                        left = -(this.imageMoveWidth * (x / this.width)),
                        top = -(this.imageMoveHeight * (y / this.height));
                    if(Math.abs(currentLeft - left) > 20 || Math.abs(currentTop - top) > 20) {
                        option = this.imageAnimator[0];
                        option.begin = currentTop;
                        option.end = top;
                        option = this.imageAnimator[1];
                        option.begin = currentLeft;
                        option.end = left;
                        this.beginAnimation = true;
                        this.imageAnimator.start();
                    } else {
                        this.image.css({
                            "top": top + "px",
                            "left": left + "px"
                        });
                    }
                },
                stopImageLocation: function() {
                    if(this.beginAnimation) {
                        this.beginAnimation = false;
                        this.imageAnimator.stop();
                    }
                }
            };

            var loginWindow = {
                size: {
                    small: {
                        width: 958,
                        height: 512,
                        startWidth: 0,
                        startHeight: 0,
                        logoTop: 70,
                        logoSize: "2.5em",
                        formTop: 284
                    },
                    middle: {
                        width: 1366,
                        height: 768,
                        startWidth: 1440,
                        startHeight: 960,
                        logoTop: 140,
                        logoSize: "3.4em",
                        formTop: 500
                    },
                    large: {
                        width: 1920,
                        height: 1080,
                        startWidth: 2560,
                        startHeight: 1440,
                        logoTop: 200,
                        logoSize: "4.2em",
                        formTop: 712
                    }
                },
                initial: function () {
                    var that = this;

                    this.loginWindow = $("#loginWindow");
                    this.loginPanel = this.loginWindow.children(".login-panel");
                    this.bgImg = this.loginWindow.children(".bgImage");
                    this.logo = this.loginPanel.find(".logo");
                    this.loginContent = this.loginPanel.find(".form-content");

                    this.parallax = new parallax(this.loginWindow, this.bgImg);
                    this.initFocus();

                    this.onResize();
                    this.loginWindow.css("visibility", "visible");
                    ui.page.resize(function () {
                        that.onResize();
                    }, ui.eventPriority.bodyResize);

                    //$("#username").focus();
                },
                initFocus: function () {
                    var userNameInput = $("#username");
                    var passwordInput = $("#password");

                    this.onSpotlightHandle = null;
                    this.offSpotlightHandle = null;
                    this.spotlightAnimator = ui.animator({
                        target: $(".panel-background"),
                        ease: ui.AnimationStyle.easeTo,
                        onChange: function (val) {
                            this.target.css({
                                "filter": "Alpha(opacity=" + val + ")",
                                "opacity": val / 100
                            });
                        }
                    });
                    this.spotlightAnimator.duration = 500;

                    var that = this;
                    var onFocus = function (e) {
                        that.parallax.enabled = false;
                        clearTimeout(that.offSpotlightHandle);
                        that.offSpotlightHandle = null;
                        if (that.spotlightAnimator.isStarted) {
                            that.spotlightAnimator.stop();
                        }
                        that.onSpotlightHandle = setTimeout(function () {
                            that.onSpotlightHandle = null;
                            that.onSpotlight();
                        }, 200);
                    };
                    var onBlur = function (e) {
                        that.parallax.enabled = true;
                        clearTimeout(that.onSpotlightHandle);
                        that.onSpotlightHandle = null;
                        if (that.spotlightAnimator.isStarted) {
                            that.spotlightAnimator.stop();
                        }
                        that.offSpotlightHandle = setTimeout(function () {
                            that.offSpotlightHandle = null;
                            that.offSpotlight();
                        }, 200);
                    };

                    userNameInput.focus(onFocus).blur(onBlur);
                    passwordInput.focus(onFocus).blur(onBlur);
                },
                onResize: function () {
                    this.clientWidth = document.documentElement.clientWidth;
                    this.clientHeight = document.documentElement.clientHeight;

                    var size = this.getSize();
                    var flag = size !== this.currentSize;
                    this.currentSize = size;

                    this.panelWidth = size.width;
                    this.panelHeight = size.height;

                    this.setLocation();
                    if (flag) {
                        this.setSize(size);
                    }
                },
                getSize: function() {
                    var width = this.clientWidth;
                    var height = this.clientHeight;

                    var size = null,
                        sizeArray = ["small", "middle", "large"];
                    for (var i = sizeArray.length - 1; i >= 0; i--) {
                        size = this.size[sizeArray[i]];
                        if (width >= size.startWidth && height >= size.startHeight) {
                            return size;
                        }
                    }
                },
                setLocation: function () {
                    var left = (this.clientWidth - this.panelWidth) / 2,
                        top = (this.clientHeight - this.panelHeight) / 2;
                    if (left < 0) {
                        left = 0;
                    }
                    this.loginWindow.css({
                        "top": top + "px",
                        "left": left + "px"
                    });
                },
                setSize: function (size) {
                    this.loginWindow.css({
                        "width": this.panelWidth + "px",
                        "height": this.panelHeight + "px"
                    });
                    this.logo.css("font-size", size.logoSize);
                    if (this.parallax) {
                        this.parallax.resize(this.panelWidth, this.panelHeight);
                    }
                    this.elementAnimate(size.logoTop, size.formTop);
                },
                elementAnimate: function (logoTop, formTop) {
                    if (!this.elemAnimator) {
                        this.elemAnimator = ui.animator({
                            target: this.logo,
                            ease: ui.AnimationStyle.easeTo,
                            onChange: function (val) {
                                this.target.css("top", val + "px");
                            }
                        }).add({
                            target: this.logo,
                            ease: ui.AnimationStyle.easeFrom,
                            onChange: function (val) {
                                this.target.css({
                                    "filter": "Alpha(opacity=" + val + ")",
                                    "opacity": val / 100
                                });
                            }
                        }).add({
                            target: this.loginContent,
                            ease: ui.AnimationStyle.easeTo,
                            onChange: function (val) {
                                this.target.css("top", val + "px");
                            }
                        }).add({
                            target: this.loginContent,
                            ease: ui.AnimationStyle.easeFrom,
                            onChange: function (val) {
                                this.target.css({
                                    "filter": "Alpha(opacity=" + val + ")",
                                    "opacity": val / 100
                                });
                            }
                        });
                        this.elemAnimator.duration = 500;
                    }

                    this.elemAnimator.stop();
                    var option = this.elemAnimator[0];
                    option.begin = parseFloat(option.target.css("top"), 10);
                    option.end = logoTop;
                    option = this.elemAnimator[1];
                    option.begin = 0;
                    option.end = 80;
                    option = this.elemAnimator[2];
                    option.begin = formTop + 200;
                    option.end = formTop;
                    option = this.elemAnimator[3];
                    option.begin = 0;
                    option.end = 100;
                    this.elemAnimator.start();
                },
                onSpotlight: function() {
                    var option = this.spotlightAnimator[0];
                    option.begin = Math.floor(parseFloat(option.target.css("opacity")) * 100) || 0;
                    option.end = 40;
                    this.spotlightAnimator.start();
                },
                offSpotlight: function() {
                    var option = this.spotlightAnimator[0];
                    option.begin = Math.floor(parseFloat(option.target.css("opacity")) * 100) || 0;
                    option.end = 0;
                    this.spotlightAnimator.start();
                },
                showError: function () {
                    var url = location.href,
                        index = url.indexOf("?"),
                        queryString;
                    
                    if(index > -1) {
                        queryString = url.substring(index + 1);
                        if(queryString.indexOf("error") > -1) {
                            ui.errorShow("用户名或密码错误。");
                        }
                    }
                }
            };

            ui.page.ready(function() {
                loginWindow.initial();
                loginWindow.showError();
            });
        })();

    </script>

</body>
</html>